<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories=['wknd.customHeaderlibs']}" />

<div class="custom-header">
    <div>
        <span class="custom-header-logo">WKND</span>
    </div>
    <div class="dropdown">
        <button onclick="headerFunction()" title="Other Page links" class="dropbtn">Links</button>
        <div id="myDropdown" class="dropdown-content">
            <sly data-sly-list.childPages="${currentPage.getParent.listChildren}">
                <a href="${childPages.path}.html">${childPages.name}</a>
            </sly>
        </div>
    </div>
</div>